---
layout: standalone
title: Javier Julio
redirect_from:
  - /about/
---

<div class="max-w-3xl mx-auto px-4 sm:px-6">

<div class="md:pe-30">
<div class="mt-20 flex items-center gap-4">
  <%= link_to root_path, class: "block size-18 pointer-events-auto", aria_label: "Home" do %>
    <%= image_tag 'javier.jpg', alt: author_name, size: 250, decoding: 'async', class: 'rounded-full size-18 bg-white/90 p-0.5 shadow-lg ring-1 shadow-zinc-800/5 ring-zinc-900/5 backdrop-blur-sm dark:bg-zinc-800/90 dark:ring-white/10' %>
  <% end %>
  <div class="flex flex-col gap-2">
    <h1 class="font-display text-3xl font-bold text-zinc-800 sm:text-3xl dark:text-zinc-100">
      <%= author_name %>
    </h1>
    <h2 class="text-xs uppercase font-semibold text-zinc-600 dark:text-zinc-400">Software Engineer</h2>
  </div>
</div>

<h1 class="mt-10 font-display text-xl sm:text-2xl md:text-3xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100">
  <%= link_to "Building reliable foundations for growing products and engineering teams", resume_path %>
</h1>

<p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">I'm Javier, a <%= link_to "full-stack software engineer", resume_path, class: "link-base" %> and open-source maintainer based in <%= location_name %>. Most recently, I helped build Jackpocket as part of the founding team, now acquired by DraftKings.</p>

<% links = [
 {label: "GitHub",
  url: github_profile},
 {label: "Twitter",
  url: "https://twitter.com/javierjulio"},
 {label: "Instagram",
  url: "https://www.instagram.com/javierjulio"},
 {label: "LinkedIn",
  url: "https://www.linkedin.com/in/javierjulio"},
 {label: "Email",
  url: "mailto:#{author_email}"}]
%>
<nav class="flex mt-6 gap-4">
  <% links.each do |link| %>
    <%= link_to link[:url], class: "p-1 -m-1 text-zinc-500 hover:text-zinc-800 dark:text-zinc-400 dark:hover:text-white transition-colors", aria_label: link[:label] do %>
      <%= render "shared/svgs/#{link[:label].downcase}", size: "24" %>
    <% end %>
  <% end %>
</nav>
</div>

<div class="flex items-center mt-20 md:mt-24">
  <div aria-hidden="true" class="w-full border-t border-zinc-200 dark:border-white/15"></div>
  <div class="relative flex justify-center">
    <span class="bg-white px-2 text-sm text-zinc-600 dark:bg-zinc-900 dark:text-zinc-400">Projects</span>
  </div>
  <div aria-hidden="true" class="w-full border-t border-zinc-200 dark:border-white/15"></div>
</div>

<% featured_projects = [
 {name: "Memory Game",
  url: "https://javierjulio.com/memory-game/",
  description: "A simple 4 by 4 Memory game. Dark mode and mobile friendly."},
 {name: "Nonograms Game",
  url: "https://javierjulio.com/nonograms-game/",
  description: "Endless 5x5 to 10x10 puzzles. Dark mode and mobile friendly."},
 {name: "RailsBridge NYC",
  url: "https://www.railsbridgenyc.org",
  description: "Organizing free Ruby and Rails workshops in New York City."},
 {name: "ActiveAdmin",
  url: "https://activeadmin.info",
  description: "Maintaining the administration framework for Ruby on Rails."},
 {name: "My laptop script",
  url: "https://github.com/javierjulio/laptop",
  description: "An automated, tested script to configure my Mac and dotfiles."},
 {name: "Humble Bundle Exporter",
  url: "https://github.com/javierjulio/humble-bundle-key-exporter",
  description: "Bookmarklet to export Humble Bundle data to JSON. 🎮"}]
%>
<ul role="list" class="mt-10 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
<% featured_projects.each do |project| %>
  <li class="group relative flex flex-col items-start">
    <h2 class="text-base font-semibold text-zinc-800 dark:text-zinc-100">
      <div class="absolute -inset-4 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:rounded-lg dark:bg-zinc-800/50"></div>
      <a href="<%= project[:url] %>">
        <span class="absolute -inset-4 z-20 sm:rounded-lg"></span>
        <span class="relative z-10"><%= project[:name] %></span>
      </a>
    </h2>
    <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400"><%= project[:description] %></p>
    <p class="relative z-10 mt-4 flex gap-1 text-sm font-medium text-zinc-400 transition-colors group-hover:text-teal-500 dark:text-zinc-200">
      <svg viewBox="0 0 24 24" aria-hidden="true" class="h-6 w-6 flex-none">
        <path d="M15.712 11.823a.75.75 0 1 0 1.06 1.06l-1.06-1.06Zm-4.95 1.768a.75.75 0 0 0 1.06-1.06l-1.06 1.06Zm-2.475-1.414a.75.75 0 1 0-1.06-1.06l1.06 1.06Zm4.95-1.768a.75.75 0 1 0-1.06 1.06l1.06-1.06Zm3.359.53-.884.884 1.06 1.06.885-.883-1.061-1.06Zm-4.95-2.12 1.414-1.415L12 6.344l-1.415 1.413 1.061 1.061Zm0 3.535a2.5 2.5 0 0 1 0-3.536l-1.06-1.06a4 4 0 0 0 0 5.656l1.06-1.06Zm4.95-4.95a2.5 2.5 0 0 1 0 3.535L17.656 12a4 4 0 0 0 0-5.657l-1.06 1.06Zm1.06-1.06a4 4 0 0 0-5.656 0l1.06 1.06a2.5 2.5 0 0 1 3.536 0l1.06-1.06Zm-7.07 7.07.176.177 1.06-1.06-.176-.177-1.06 1.06Zm-3.183-.353.884-.884-1.06-1.06-.884.883 1.06 1.06Zm4.95 2.121-1.414 1.414 1.06 1.06 1.415-1.413-1.06-1.061Zm0-3.536a2.5 2.5 0 0 1 0 3.536l1.06 1.06a4 4 0 0 0 0-5.656l-1.06 1.06Zm-4.95 4.95a2.5 2.5 0 0 1 0-3.535L6.344 12a4 4 0 0 0 0 5.656l1.06-1.06Zm-1.06 1.06a4 4 0 0 0 5.657 0l-1.061-1.06a2.5 2.5 0 0 1-3.535 0l-1.061 1.06Zm7.07-7.07-.176-.177-1.06 1.06.176.178 1.06-1.061Z" fill="currentColor"></path>
      </svg>
      <span>
        <%= url_host(project[:url]) %>
      </span>
    </p>
  </li>
<% end %>
</ul>

<div class="flex items-center mt-20 md:mt-24">
  <div aria-hidden="true" class="w-full border-t border-zinc-200 dark:border-white/15"></div>
  <div class="relative flex justify-center">
    <span class="bg-white px-2 text-sm text-zinc-600 dark:bg-zinc-900 dark:text-zinc-400">Recipes</span>
  </div>
  <div aria-hidden="true" class="w-full border-t border-zinc-200 dark:border-white/15"></div>
</div>

<div class="mt-10 grid grid-cols-1 gap-y-4 gap-x-12 sm:grid-cols-2">
  <% site.resources.glob("recipes/*.html.md").sort_by(&:request_path).each do |page| %>
    <%= link_to page.request_path, class: "-mx-3 flex flex-col rounded-md p-3 no-underline hover:bg-zinc-100 dark:hover:bg-zinc-800/50" do %>
      <div class="w-full font-medium leading-tight">
        <%= page.data[:title] %>
      </div>
      <div class="text-zinc-500">
        <%= page.data[:description] %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="flex items-center mt-20 md:mt-24">
  <div aria-hidden="true" class="w-full border-t border-zinc-300 dark:border-white/15"></div>
  <div class="flex shrink-0 justify-center">
    <span class="bg-white px-2 text-sm text-zinc-600 dark:bg-zinc-900 dark:text-zinc-400">Still Around?</span>
  </div>
  <div aria-hidden="true" class="w-full border-t border-zinc-300 dark:border-white/15"></div>
</div>

<p class="mt-10">A little more about me:</p>
<ul class="list-disc mt-2 ps-6 space-y-1">
  <li>
    <%= link_to "Resume", resume_path, class: "link-base" %>
  </li>
  <li>
    <%= link_to "Recipes", recipes_path, class: "link-base" %>
  </li>
  <li>
    <%= link_to "Presentations", presentations_path, class: "link-base" %>
  </li>
  <li>
    <%= link_to "Blog", blog_path, class: "link-base" %>
  </li>
</ul>

</div>
